.containerSettings{
    width:auto;
    height:80vh;
}


.formClassSignUp{
    margin: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh
}

