@font-face{font-family: "Roboto" ;
    src:url("../../../assets/fonts/Roboto-Bold.ttf");}

    @font-face{font-family: "Quantify" ;
        src:url("../../../assets/fonts/Quantify-Bold.ttf");} 

.containerUserDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    width: 90vw;
    margin: auto;
    margin-top: 25%;
    border: 5px solid black;
    border-radius: 30px;
    box-shadow: 10px 5px 5px grey ;
    font-family: "Roboto";
 }

 .formClassUser{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.imgUserProfile{
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    height: 200px;
    width: auto;
    border-radius: 5px;
}

.containerPageUserDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.containerCardProfil {
    border-radius: 10px;
    border: 10px solid #662381;
    display: flex;
    justify-content: center;
    align-items: center;


}

.buttonSetting{
    background: url("../../.././assets/img/user/settings.svg");
    background-repeat: no-repeat;
    background-position: center;
    height:70px;
    width:70px;
    border:none;
    pointer-events: painted;
}
.buttonArticle{
    background: url("../../../assets/img//user/dress.svg");
    background-repeat: no-repeat;
    background-position: center;
    height:60px;
    width:70px;
    border:none;
    display: flex;
}

.buttonUserProfile{
    
    display:flex;
    justify-content:space-around;
    
}

.nameUser {
    font-family: 'Roboto';
    margin-left: 1em;
    margin-right: 2em;
    margin-bottom: .7em;
}



