@font-face{font-family: "Roboto" ;
    src:url("../../../assets/fonts/Roboto-Bold.ttf");}

@font-face{font-family: "RobotoMedium" ;
    src:url("../../../assets/fonts/Roboto-Medium.ttf");}

    @font-face{font-family: "RobotoLight" ;
        src:url("../../../assets/fonts/Roboto-Light.ttf");}


        
.logoK{
    position: absolute;
    left: 10px;
    top: 10px;
    height: 70px;
}

.containerSettingsSignUp{
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
}

.formClassSignUp{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "RobotoMedium";
    color: #662381;
    flex-direction: column;
    font-size: 1.4em;
}

.inputSignUp {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: #662381  solid 3px;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0);
}

.btnSeconnecterSignUp {
    
    font-family: "RobotoLight";
    background-color: #ffffff;
    font-size: 0.9em;
    border: #662381  solid 2px;
    border-radius: 5px;
    padding: 5px 30px;
    display: flex;
    color: #262626;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 5px;
}

.btnSeconnecterSignUp:active {
    font-family: "RobotoLight";
    background-color: #662381;
    color: #ffffff;
    font-size: 0.9em;
    border: #662381  solid 2px;
    border-radius: 5px;
}


.btnSeconnecterjaiCompte {
    
    font-family: "RobotoLight";
    background-color: #ffffff;
    font-size: 0.9em;
    border: #662381  solid 2px;
    border-radius: 5px;
    padding: 5px 22px;
    display: flex;
    color: #262626;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btnSeconnecterjaiCompte:active {
    font-family: "RobotoLight";
    background-color: #662381;
    color: #ffffff;
    font-size: 0.9em;
    border: #662381  solid 2px;
    border-radius: 5px;
}

.containerBtnSignUp {
    display: flex;
}

.photoProfilUser {
    position: absolute;
    top: 20px;
    right: 5%;
    height: 100px;
    border-radius: 100%;
}

