@font-face {
    font-family: "RobotoMedium";
    src: url("../../assets/fonts/Roboto-Medium.ttf");
}



.dropmenu {
	display: flex;
	align-content: center;
	justify-content: center;
	font-family: "RobotoMedium";
	width: 200%;
	margin:auto;
	margin-top: 3.5%;
}

.menu {
	display: flex;
	font-family: "RobotoMedium";
	justify-content: center;
}