@font-face{font-family: "Roboto" ;
    src:url("../../../assets/fonts/Roboto-Bold.ttf");}

@font-face{font-family: "RobotoMedium" ;
    src:url("../../../assets/fonts/Roboto-Medium.ttf");}

    @font-face{font-family: "RobotoLight" ;
        src:url("../../../assets/fonts/Roboto-Light.ttf");}


.containerSettings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    color: #662381;
    margin-bottom: 4em;

}

.formClassAddArticle {
    display: flex;
    color: #662381;
    font-family: "RobotoMedium";
    flex-direction: column;
    font-size: 1.2em;
}

.titreAjoutArticle {
    margin-bottom: 1.4em;
    margin-top: 4em;
}