/* .containerNavbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0 ;
    height: 10vh;
    background: #ffffff;
    border-top: 1px solid #bfbfbf;
    margin-top: 5em;
} */

.containerNavbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    border-top: 0.5px solid #bfbfbf79;
}

.linkHome{
    height: 50px;
    width: 50px;
    background-image: url("../../assets/img/newpictoNavbar/Home.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.linkSearch{
    height: 50px;
    width: 50px;
    background-image: url("../../assets/img/newpictoNavbar/Search.svg");
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;
    
}

.linkSell{
    height: 50px;
    width: 50px;
    background-image: url("../../assets/img/newpictoNavbar/Plus.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.linkMess{
    height: 50px;
    width: 50px;
    background-image: url("../../assets/img/newpictoNavbar/mail.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.linkProfil{
    height: 50px;
    width: 50px;
    background-image: url("../../assets/img/newpictoNavbar/User.svg");
    background-repeat: no-repeat;
    background-position: center;
}